html,
body,
#root,
.app {
  height: 100%;
}

body {
  background-image: url("https://assets.atlasobscura.com/media/W1siZiIsInVwbG9hZHMvYXNzZXRzLzExYzBhOGJkLWFjNzItNDIwYy1hMGRjLTQwOWZlY2MxMzYxMjE0ZWYxZTE1N2YzMzRmNTM0OV9TdGVybi1Ub3VybmFtZW50LTAzMDkxOS0xNDQuanBnIl0sWyJwIiwiY29udmVydCIsIiJdLFsicCIsImNvbnZlcnQiLCItcXVhbGl0eSA4MSAtYXV0by1vcmllbnQiXSxbInAiLCJ0aHVtYiIsIjEyODB4PiJdXQ/Stern-Tournament-030919-144.jpg");
  background-size: cover;
}

.container {
  width: 80%;
  margin: 0 auto;
  height: 100%;
}

.table-container {
  margin-top: 25px;
  margin-bottom: 25px;
  height: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.form-container {
  width: 80%;
  max-width: 500px;
  margin: 3% auto;
  padding: 5% 2%;
}

.machine-table {
  max-width: 500px;
  width: 60%;
  margin: 25px auto;
}
