html,
body,
#root,
.app {
  height: 100%;
}

.container {
  width: 80%;
  margin: 0 auto;
  height: 100%;
}

.table-container {
  margin-top: 25px;
  margin-bottom: 25px;
  height: 100%;
}

.form-container {
  width: 80%;
  max-width: 500px;
  margin: 3% auto;
  padding: 5% 2%;
}

.machine-table {
  max-width: 500px;
  width: 60%;
  margin: 25px auto;
}
